.navbar{
    display: flex;
    justify-content: space-evenly;
    column-gap: 400px;
    position: fixed;
    margin-left: 55px;
    margin-top: 5px;
}
.nav-part-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 25px;
    font-size: 18px;
    font-family:"Inter", Helvetica, Arial, sans-serif ;
    color: #163300;
    line-height: 24px;
    font-weight: 540;
}
#Language{
   display: flex;
   align-items: center;
   column-gap: 5px;

}
.nav-part-2{
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: center;
    font-size: 18px;
    font-family:"Inter", Helvetica, Arial, sans-serif ;
    color: #163300;
    line-height: 24px;
    font-weight: 540;
}
#bgc-green{
    color: #163300;
    border-radius: 20px;
    background-color: #9fe870;
    padding: 5px;
}